@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


body{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f3f3f3;
}

        .row {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

    .col{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
}

.container {
position: relative;
width: 1140px;
margin-right: auto;
margin-left: auto;
}

@media only all and (max-width: 1300px) {

    .container{
        max-width: 720px;
    }
}

@media only all and (max-width: 768px) {

    .container{
        max-width: 290px;
    }
}

.header
{
    background-image: url(img/sochi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 650px;
    max-height: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    position: relative;
}



@media only all and (max-width: 1300px){
    .header{
    background-image: url(img/tab/sochi-tab.png);
    }

}

@media only all and (max-width: 950px) and (min-width:769px ){

        .header{
    background-image: url(img/sochi-3.jpg);
    }

}



.search_btn {
    position: absolute;
    float: left;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 33px;
    z-index: 1;
}

.search__arrow {
    position: absolute;
    bottom: 5px;
    left: 2px;
    cursor: pointer;
}
img {
    vertical-align: middle;
}
img {
    vertical-align: middle;
    border-style: none;
}

.menu-list{
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    margin-top: 33px;

}

.menu-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 37px;
}

 .--first{
    padding-left: 570px;
 }


 @media only all and (max-width: 1300px) {
     .menu-item{
    padding-left: 29px;
 }


     .--first{
    padding-left: 170px;
 }

}



 @media only all and (max-width: 768px){
      .menu-item{
        display: none;
      }
      .header {
    background-image: url(img/mob/sochi.jpg);
}
 }




 @media only all and (max-width: 450px){
          .header {
    background-image: url(img/mob/sochi.png);
}
 }

 .menu-item a{
   text-decoration: none;
   color: #0d3351;
}

.--bold{
    font-weight: 700;
    font-size: 19px;
    line-height: 14px;
    font-family: 'Raleway:700', sans-serif;


}

.--micro{
    font-weight: 500;
    font-size: 12px;
}

.menu__icon{
    margin-bottom: 3px;
    margin-right: 9px;
}

.logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

 @media only all and (max-width: 1300px) {
    .logo{ margin-top: 90px;

    }

    .logo img{
        width: 70px;
        height: 70px;
    }
}



.header-article{
    font-family: 'Roboto Slab', serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #0d3351;
    margin-right: 23px;
}

.header-list{
    list-style-type: none;
    text-align: center;

}

.header-list li:first-child{
    font-size: 36px;

}

.header-list li:last-child{
    font-size: 100px;
}


 @media only all and (max-width: 1300px) {
    .header-list li:first-child{
        font-size: 26px;
    }

    .header-list li:last-child{
    font-size: 63px;

}
 }

 @media only all and (max-width: 834px) {
    .header-list li:first-child{
        font-size: 20px;
    }

    .header-list li:last-child{
    font-size: 50px;

}
 }

.header-btn{
    width: 204px;
    height: 48px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    background-color: #33c7fd;
    color: white;
    margin-left: auto;
    margin-right: 42%;
    font-size: 14px;
    margin-top: 10px;
}

.header-btn:hover{
    background-color: #13b0e9;
}

.header-btn:active{
    background-color: #64d6ff;
}

 @media only all and (max-width: 1300px){
.header-btn{
    margin: auto;
}

 }

.figure{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    margin-right: 26px;
}

 @media only all and (max-width: 1300px) {
    .figure img{
       max-height: 222px;
    }
 }

.catalog{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top:68px;
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    color: #0d3351;
    margin-right: 50px;

}



.catalog-list{
    list-style-type: none;
}

.catalog-list li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.catalog-list li:last-child{
    font-size: 14px;
}

 @media only all and (max-width: 1300px){
    .catalog{
        margin-top: 10px;
        font-size: 26px;
    }

    .catalog-list li:first-child{
    letter-spacing: 2px;
}
 }


 @media only all and (max-width: 1100px){
    .logo{
        margin-top: 10px;
    }

      .catalog{
        margin-top: -70px;
      }
}

 @media only all and (max-width: 834px){
    .catalog{
        margin-top: -90px;
    }
 }


 @media only all and (max-width: 768px){
        .catalog{
        margin-top: 17px;
        margin-right: 0px;
    }
    .logo{
        margin-left: 10px;
    }
    .catalog-list li:first-child{
        font-size: 20px;
        letter-spacing: 0px;
    }
    .figure{
        margin-right: 0px;
    }
 }

.italic{
    font-style: italic;
    margin-left: 3px;
    cursor: pointer;
}

.catalog-icon{
    margin-left: 8px;
}

.content-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 555px;
    height: 630px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.content-picture{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 438px;
    width: 100%;
    position: relative;
    float: left;
    text-transform: uppercase;
    color: white;
}

.content-footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 190px;
    width: 555px;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

.sale {
 width: 88px;
  height: 75px;
 padding: 1px 0;
 position: absolute;
 top: -6px;
 left: 420px;
 text-align: center;
 border-top-left-radius: 3px;
 background: #33c7fd;
}

.sale:before, .sale:after {
  content: "";
  position: absolute;
}
.sale:after {
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 44px solid #33c7fd;
  border-right: 44px solid #33c7fd;
  border-bottom: 30px solid transparent;
}

.sale__text{
    position: absolute;
    right: 1px;
    top: 20px;
}

.content__article-main{
    font-size: 18px;
    color: #42b0e2;
    padding-left: 38px;
    padding-top: 30px;
    cursor: pointer;
    font-family: 'Roboto Slab', serif;

}


.content__main-text{
    font-size: 14px;
    color: #0d3351;
    padding-left: 38px;
    padding-top: 17px;
    line-height: 22px;
}

.content__cost{
    font-size: 30px;
    font-weight: 500;
    color: #0d3351;
    padding-top: 10px;
    padding-left: 38px;
    font-family: 'Roboto Slab', serif;

}

.arrow-right{
    padding-left: 10px;
}

.bold{
    font-weight: 600;
}

.--pic-type-2{
    width: 555px;
    height: 115px;
}

.--sale-red{
    background-color: #f20542;
     
}

.--sale-red:after{
  height: 0;
  width: 0;
  bottom: -29.5px;
  left: 0;
  border-left: 44px solid #f20542;
  border-right: 44px solid #f20542;
  border-bottom: 30px solid transparent;
}

.--sale-red-text{
    right: 15px;
    top: 30px;
}

.old-price{
    font-size: 18px;
    color: #9ba4ad;
    text-decoration: line-through;
    padding-left: 15px;

}

.--padding{
    margin-top: 18px;
}


.--SRT-pos{
    right: 10px;
    top: 25px;
}


.--pic-type-3{
    width: 555px;
    height: 217px;
}

.arrow-down{
    height: 5px;
    width: 8px;
    margin-top: 8px;
    margin-left: 16px;
}

.--padding-btn{
    margin-top: 26px;
    margin-bottom: 62px;
}

@media only all and (max-width: 1300px){
    .content-container{
        width: 345px;
        height:508px;
    }
    .content-picture{
        height: 271px;
    }

    .content-footer{
        height: 237px;
        width: 345px;
    }

    .sale{
        left: 226px;
    }
}

@media only all and (max-width: 768px){
    .content-container{
        width: 290px;
        height: 462px;
    }
     .content-picture{
        height: 228px;
     }
         .content-footer{
        height: 237px;
        width: 290px;
    }
    .row{
        margin-left: 0px;
    }
        .sale{
        left: 178px;
    }
    .catalog{
        left: -15px;
        position: relative;
    }


}




footer{
    height: 130px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

 @media only all and (max-width: 1300px){
footer{
    height: 100%;
  
 }
}


.footer__list{
    list-style-type: none;
    margin-left: -40px;
    margin-top: 29px;
    font-size: 14px;
}

.footer__link{
    color: #0d3351;
    text-decoration: none;
}

.footer__item{
        margin-bottom: 13px;

}

.--second-list
{
    margin-left: -110px;
}

.footer__list-contact{
    list-style-type: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: -110px;
    margin-top: -10px;
}

.footer__item-icon{
    margin-right: 10px;
}

.--footer-tel{
    font-family: 'Raleway:700', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;

}

.--footer-sup{
    margin-bottom: 10px;
    font-size: 10px;
}

.--third-list{
    margin-left: 103px;
}

.--padding-tab{
    margin-top: 26px;
}

.--cost-margin{

}
    .footer{
}

 @media only all and (max-width: 1300px){
.desc{
    display: none;
}

.--third-list{
    margin-left: -40px;
}

.--cost-margin{
    margin-top: 22px;
}

}

.mob-footer{}


@media only all and (min-width: 1301px)
{
.tablet{
    display: none;
}

}

@media only all and (max-width: 1300px) and (min-width: 769px)
{
    .--padding-btn{
        margin-left: 34%;
    }
}

@media only all and (max-width: 768px){
        .--padding-tab{
        margin-top: 0px;
    }

    .col{
        margin-bottom: 20px;
    }

    .--cost-margin{
        margin-top: 0px;
    }

    .old-price{
        padding-left: 0px;
    }

    .footer{
        display: none;
    }
    .footer__list{
        margin-left: 50px;
    }

    .footer__list-contact{
         margin-left: 25px;
    }

    .--footer-tel{
        margin-top: -30px;
        font-size: 14px;
        margin-left: -8px;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .--footer-sup{
      margin-left: -10px;
      margin-top: -5px;
    }

    .--footer-copyright{
      margin-left: -50px;
    }
   .list-contact{
    margin-left: 5px;
   }
}

@media only all and (min-width: 769px)
{
  .mob-footer{
    display: none;
  }

}

@media only all and (max-width: 286px)
{
  .mob-footer{
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only all and (max-width: 312px)
{
  .header{
    background-image: url(img/mob/sochi-micro.png);
    /*тут должна быть длинная картинка, для старых устройств с маленькими экранами*/
    width: 300px;
  }
}

.btn-menu{
  background-color: #0d3351;
  position: absolute;
  margin-top: 60px;
  height: 412px;
  width: 420px;
}

.btn-menu ul{
    list-style-type: none;
}

.btn-menu__item{
    color: white;
    margin-bottom: 25px;
    margin-left: 20px;
}

.btn-menu__item a{
    color: white;
    text-decoration: none;
}

.--main-item{
    margin-top: 70px;

}

.btn-menu__list{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;

}

@media only all and (max-width: 280px){
    .btn-menu__item{
    margin-left: 0px;
}
.btn-menu__list{
    font-size: 14px;

}
}

